    prefer-no-csd
    screenshot-path null

    environment {
        // Default Applications
        TERMINAL "kitty"
        BROWSER "zen-browser"
        FILE_MANAGER "dolphin"

        ELECTRON_OZONE_PLATFORM_HINT "auto"
        LIBVA_DRIVER_NAME "radeonsi"
        MOZ_ENABLE_WAYLAND "1"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_MENU_PREFIX "arch-"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "Breeze_Light"
        xcursor-size 24
    }

    hotkey-overlay {
       skip-at-startup
    }
