// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup


    spawn-sh-at-startup "qs -c noctalia-shell"
    // iio-niri is managed by ~/.config/systemd/user/iio-niri.service
